/* ------------------
---------base style--------
---------------------------- */
body {
    font-family: 'Poppins', sans-serif;
}


/* ------------------------------------nav styles-------------------------- */
.header {
    display: flex;
    margin: 87px 120px 0;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
    /* margin-top: 95px;
    margin-left: 120px; */
}

nav ul {
    color: #3A3A3A;
    display: flex;
    gap: 24px;
    font-weight: 600;
    font-size: 16px;
}

nav li {
    list-style: none;
}

.fa-solid {
    height: 36px;
    width: 36px;
}

/* ---------------------------------------------nav styles end------------------------------ */
/* -----------------------------banner
styles----------------------------
----------------------------------- */
.banner {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 50px 132px 69px 120px;
    gap: 400px;

}

.banner-title {
    width: 582px;
    height: 270px;
}

.banner-main-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.banner-title-description {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.header-btn {
    width: 196px;
    height: 44px;
    background: #E02C6D;
    border-radius: 41px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
}

.fa-light {
    width: 24px;
    height: 24px;
    color: #fff;
}

.banner-images {
    /* background-image: url(./images/camera.png); */
    background-repeat: no-repeat;
    width: 600px;
    background-image: url(./images/logos/Circle\ design-svg-new.svg);
    background-size: contain;
}

/* .............................header & banner style :end--------------------
--------------------------------------------------------------------------- */
.ecom {


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 40px 60px;
    margin-left: 165px;
    margin-right: 165px;
}